<div class="container">
  <div class="background"></div>
  <div class="app-name">Hello...</div>
  <div class="sign-in-button">
    <%= link_to 'Add new movie', new_movie_path, class: 'button landing' %>
    <%= link_to 'Movies list', movies_path, class: 'button list' %>
  </div>
</div>