.button_action {
    background: darkgreen;
    border-radius: 30px;
    font-size: 12px;
}

/*.button_edit{*/
    /*background: red;*/
    /*border-radius: 30px;*/
    /*font-size: 12px;*/
/*}*/

/*.button_destroy{*/
    /*background: red;*/
    /*border-radius: 30px;*/
    /*font-size: 12px;*/
/*}*/



